<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/oldMan.jpg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="mainContent">
        <!--here is a partial input for the header you just use a greater than symbol to reference a partial-->
        {{>header}}
        <p>{{errorMessage}}</p>
        <img src = "/img/crankyBird.jpg">
    </div>
    {{>footer}}
</body>



</html>